@using WeatherAppRemake.Models;
@using static WeatherAppRemake.Models.LocationResponse;
@model WeatherResponse
@{
    ViewData["Title"] = "Home Page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="text-center">
    <form method="post" asp-action="Index" asp-controller="Home">

         <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="Enter city" name="City" required>
         </div>
        <br />
         <button type="submit" class="btn btn-primary">Submit</button>



   </form>

    @{
        if( Model != null)
        {
            LocationResponse locationResponse = new LocationResponse();
            <div id="data-container" class="container mt-4">
                <div id="data-header" class="row mb-3">
                    <div class="col-12">
                        <h2 class="text-center">
                            <span id="location">@locationResponse?.cities[0].name, @locationResponse?.cities[0].country</span>
                        </h2>
                        <p class="text-center">
                            <span id="date">@DateTime.Now</span>
                        </p>
                    </div>
                </div>
            </div>

        }
    }
    


