@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   <form>

         <div class="form-group">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" placeholder="Enter city">
         </div>
        <br />
         <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
